@page "/hawb/view"
@page "/hawb/view/{referenceNo}"

@using BTAS.BlazorApp.Services.Interface
@using Newtonsoft.Json
@using Models.Dto
@using Controls

@inject IMawbService _service
@inject IHawbService _hservice
@inject ApplicationState appState
@implements IDisposable

<div class="card" style="padding: 40px 27px 36px 27px !important;">
    <div class="card-body" style="border: 1px solid #DBDBDB !important;">

        <div class="row">
            <div class="col-md-9 consol-left">
                <div class="row">
                    <div class="title">Job referenceNo</div>

   @*                 <a class="btn btn-login" @onclick="RedirectPage">Log in</a>

                    <BTAS.BlazorApp.Controls.PopupComponent @ref="popupRef" Position="PopupPosition.Right" />*@

                  

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <div class="col-md-4">
                                <label class="blazor-label">Job Type</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter job type">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter freight type">
                            </div>
                        </div>

                        <div class="col-md-2 form-group">
                            <div class="col-md-4">
                                <label class="blazor-label">Dept</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter dept">
                            </div>
                        </div>

                        <div class="col-md-3 form-group">
                            <div class="col-md-5">
                                <label class="blazor-label">Date Reg</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Enter date reg">
                            </div>
                        </div>

                        <div class="col-md-3 form-group">
                            <div class="col-md-5">
                                <label class="blazor-label">Job No.</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Enter job no.">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <div class="col-md-4">
                                <label class="blazor-label">House Bill</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter house bill">
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-3 form-group">
                            <div class="col-md-5">
                                <label class="blazor-label">Consol No.</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Enter consol no.">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <div class="col-md-4">
                                <label class="blazor-label">Master Bill</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter master bill">
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-3 form-group">
                            <div class="col-md-5">
                                <label class="blazor-label">Sub Master</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Enter sub master">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="blazor-label">Cust Code</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter cust code">
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" placeholder="Enter cust name">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 form-group">
                            <div class="col-md-5">
                                <label class="blazor-label">Extn.Code</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Enter extn.code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="blazor-label">Supplier</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter supplier">
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" placeholder="Enter supplier name">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 form-group">
                            <div class="col-md-5">
                                <label class="blazor-label">Cust Ref.</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Enter cust ref.">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="title">Transport Information</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label class="blazor-label">Airline</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter airline code">
                                </div>

                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Enter airline name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label class="blazor-label">Flight No.</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter flight no.">
                                </div>

                                <div class="col-md-5">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label class="blazor-label">Place of Receipt</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter place of receipt">
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label class="blazor-label">Load Port</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter load port">
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Enter load port city">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label class="blazor-label">First Port</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter first port">
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Enter first port city">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label class="blazor-label">Discharge Port</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter discharge port">
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Enter discharge port city">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label class="blazor-label">Destination Port</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter destination port">
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Enter destination port city">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row form-group">
                                <div class="col-md-4 text-right">
                                    <label class="blazor-label">ETD Receipt</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" />
                                    @*<div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                    </div>*@
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4 text-right">
                                    <label class="blazor-label">ETD Load</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4 text-right">
                                    <label class="blazor-label">First Arrival</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4 text-right">
                                    <label class="blazor-label">ETA Discharge</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4 text-right">
                                    <label class="blazor-label">ETA Destination</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4 text-right">
                                    <label class="blazor-label">ATA Destination</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4 text-right">
                                    <label class="blazor-label">Delivery Date</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="form-control" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 consol-right">
                <div class="up">
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="blazor-label">Cargo Status</label>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="blazor-label">SOME CLEAR</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="blazor-label">Cargo Notes</label>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="blazor-label">SOME TEXT</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="blazor-label">Milestone</label>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="blazor-label">SOME TEXT</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="blazor-label">Underbond Sent</label>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="blazor-label">No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="blazor-label">Underbond Status</label>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="blazor-label">UNDERBOND APPROVAL</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-md-12">
            @*    <BTAS.BlazorApp.Controls.GridComponent TValue="tbl_hawbDto" List="hawbs" model="hawb"></BTAS.BlazorApp.Controls.GridComponent>*@
        </div>
    </div>

</div>


@code {
    [Parameter] public string masterBillNumber { get; set; }
    [Parameter] public bool isActive { get; set; } = false;

    private tbl_mawbDto mawbDto = new();
    private List<tbl_hawbDto> hawbs = new();
    private ResponseDto responseDto = null;
    private bool HideElement { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var result = await _service.GetMawbByReferenceAsync<ResponseDto>(masterBillNumber);
        var jsonSerializerSettings = new JsonSerializerSettings();
        jsonSerializerSettings.MissingMemberHandling = MissingMemberHandling.Ignore;
        var jsonString = JsonConvert.SerializeObject(result.Result, jsonSerializerSettings);

        if (result != null && result.IsSuccess)
            mawbDto = JsonConvert.DeserializeObject<tbl_mawbDto>(jsonString, jsonSerializerSettings);

        result = await _hservice.GetByMawbReferenceAsync<ResponseDto>(masterBillNumber);
        jsonSerializerSettings = new JsonSerializerSettings();
        jsonSerializerSettings.MissingMemberHandling = MissingMemberHandling.Ignore;
        jsonString = JsonConvert.SerializeObject(result.Result, jsonSerializerSettings);

        if (result != null && result.IsSuccess)
            hawbs = JsonConvert.DeserializeObject<List<tbl_hawbDto>>(jsonString, jsonSerializerSettings);
    }

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }


        private PopupComponent popupRef;

        private void RedirectPage()
        {
            // Shows the popup at the center of the screen
            popupRef.Show("Popup body text");
        }
   
}
