.card {
    padding: 40px 27px 36px 27px;
    border: none;
    border-radius: 0;
    /*background-color:#FFFFFF;*/
    box-shadow: none;
}

.card-body {
    border: 1px solid #DBDBDB;
    border-radius: 0.375rem;
}
