<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TTWSBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://neptune.alliedexpress.com.au:8080/ttws-ejb/TTWS"
                binding="basicHttpBinding" bindingConfiguration="TTWSBinding"
                contract="TTWS" name="TTWSPort" />
        </client>
    </system.serviceModel>
</configuration>